/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 346px;
height: 72px;
margin-bottom: 100px;
}

.field {
  display: flex;
  flex-direction: column
}

.value {
  font-family: "Montserrat", sans-serif;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.label {
  font-family: "Montserrat", sans-serif;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}
